.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-phrase {
  height: 7vmin;
  padding: 2rem;
}
.link {
  align-self: flex-end;
  color:#4CACBC;
  size: 2;
}
.button{
  padding:2rem;
  font-size: 20px;
  width: 5rem;
  height: 2.5rem;
  accent-color:'green';
}
.form{
  padding-top: 1rem;
  width: 27rem;
  justify-content: center;
}
.input {
  height:2rem;
  width: 20rem;
  border-radius:5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .2rem;
  padding-top: .2rem;
  font-size: large;
  color: grey;
  justify-content: center;
}
.label{
  font-size: 20px;
  padding-right: 5px;
}


.App-header {
  background: linear-gradient(150deg, #A0D995, #4CACBC);
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
